In [1]:
import sys
import os
sys.path.append(os.path.join(os.path.abspath(''), '../'))

from models.random_model import RandomModel
from dataset.data_loader import DataLoader
from utils.utils import get_game_name_and_scores

In [2]:
data_loader = DataLoader(cache_local_dataset=True, user_game_edge_embeddings=['playtime_forever'], game_embeddings=['name'])
data_loader.load_random_edge_train_test_split(train_percentage=0.9, test_percentage=0.1, seed=0)
data_loader.save_data_loader_parameters('test_random_model_data_loader', overwrite=True)

In [3]:
model = RandomModel()
model.set_data_loader(data_loader)
model.train(seed=0)
model.save('test_random_model', overwrite=True)
print(model.get_score_between_user_and_game(76561198835352289, 967050))
print(model.get_score_between_user_and_game(76561198835352289, 578080))
print(model.get_scores_between_users_and_games([76561198835352289, 76561198835352289], [967050, 578080]))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(76561198835352289)[:10]))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(76561198835352289)[-10:]))

0.10755303818591333
[0.917365960897424, 0.006805458180949908]
[{'id': 365510, 'name': 'Flip'}, {'id': 438030, 'name': 'Dead6hot'}, {'id': 1453640, 'name': 'Valthirian Arc: Hero School Story 2'}, {'id': 1295510, 'name': 'DRAGON QUEST® XI S: Echoes of an Elusive Age™ - Definitive Edition'}, {'id': 555450, 'name': 'Deus Ex: Breach™'}, {'id': 1341200, 'name': 'DYNASTY WARRIORS 9 Empires'}, {'id': 734920, 'name': 'MEANDERS'}, {'id': 1238810, 'name': 'Battlefield™ V'}, {'id': 868130, 'name': 'Hex Two'}, {'id': 251230, 'name': 'Livelock'}]

        id                                               name     score
0   365510                                               Flip  0.999973
1   438030                                           Dead6hot  0.999952
2  1453640                Valthirian Arc: Hero School Story 2  0.999914
3  1295510  DRAGON QUEST® XI S: Echoes of an Elusive Age™ ...  0.999902
4   555450                                   Deus Ex: Breach™  0.999849
5  1341200                         DYNASTY WARRIORS 9 Empires  0.999803
6   734920                                           MEANDERS  0.999714
7  1238810                                     Battlefield™ V  0.999675
8   868130                                            Hex Two  0.999626
9   251230                                           Livelock  0.999490

[{'id': 2687190, 'name': '100 Christmas Cats'}, {'id': 1442300, 'name': 'Rags to Dishes'}, {'id': 678230, 'name': 'Abstract Arena'}, {'id': 603230, 'name': 'The Wendigo'}, {'id': 529900, 'name': 'Polygon Attack'}, {'id': 340280, 'name': 'Cubot'}, {'id': 1799930, 'name': 'Redout 2'}, {'id': 535270, 'name': 'Constricting Cubes'}, {'id': 1546340, 'name': "Detective Riddles - Sherlock's Heritage"}, {'id': 1181830, 'name': 'Urtuk: The Desolation'}]

        id                                     name         score
0  2687190                       100 Christmas Cats  1.754456e-04
1  1442300                           Rags to Dishes  1.691242e-04
2   678230                           Abstract Arena  1.227300e-04
3   603230                              The Wendigo  1.160667e-04
4   529900                           Polygon Attack  1.014292e-04
5   340280                                    Cubot  1.014153e-04
6  1799930                                 Redout 2  9.895711e-05
7   535270                       Constricting Cubes  6.740829e-05
8  1546340  Detective Riddles - Sherlock's Heritage  5.137418e-05
9  1181830                    Urtuk: The Desolation  2.590797e-07

In [4]:
model = RandomModel()
model.load('test_random_model')
model.set_data_loader(data_loader)
print(model.get_score_between_user_and_game(76561198835352289, 967050))
print(model.get_score_between_user_and_game(76561198835352289, 578080))
print(model.get_scores_between_users_and_games([76561198835352289, 76561198835352289], [967050, 578080]))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(76561198835352289)[:10]))
display(get_game_name_and_scores(data_loader, model.score_and_predict_n_games_for_user(76561198835352289)[-10:]))

0.2512417283588295
[0.7776522141785733, 0.5633478493236121]
[{'id': 365510, 'name': 'Flip'}, {'id': 438030, 'name': 'Dead6hot'}, {'id': 1453640, 'name': 'Valthirian Arc: Hero School Story 2'}, {'id': 1295510, 'name': 'DRAGON QUEST® XI S: Echoes of an Elusive Age™ - Definitive Edition'}, {'id': 555450, 'name': 'Deus Ex: Breach™'}, {'id': 1341200, 'name': 'DYNASTY WARRIORS 9 Empires'}, {'id': 734920, 'name': 'MEANDERS'}, {'id': 1238810, 'name': 'Battlefield™ V'}, {'id': 868130, 'name': 'Hex Two'}, {'id': 251230, 'name': 'Livelock'}]

        id                                               name     score
0   365510                                               Flip  0.999973
1   438030                                           Dead6hot  0.999952
2  1453640                Valthirian Arc: Hero School Story 2  0.999914
3  1295510  DRAGON QUEST® XI S: Echoes of an Elusive Age™ ...  0.999902
4   555450                                   Deus Ex: Breach™  0.999849
5  1341200                         DYNASTY WARRIORS 9 Empires  0.999803
6   734920                                           MEANDERS  0.999714
7  1238810                                     Battlefield™ V  0.999675
8   868130                                            Hex Two  0.999626
9   251230                                           Livelock  0.999490

[{'id': 2687190, 'name': '100 Christmas Cats'}, {'id': 1442300, 'name': 'Rags to Dishes'}, {'id': 678230, 'name': 'Abstract Arena'}, {'id': 603230, 'name': 'The Wendigo'}, {'id': 529900, 'name': 'Polygon Attack'}, {'id': 340280, 'name': 'Cubot'}, {'id': 1799930, 'name': 'Redout 2'}, {'id': 535270, 'name': 'Constricting Cubes'}, {'id': 1546340, 'name': "Detective Riddles - Sherlock's Heritage"}, {'id': 1181830, 'name': 'Urtuk: The Desolation'}]

        id                                     name         score
0  2687190                       100 Christmas Cats  1.754456e-04
1  1442300                           Rags to Dishes  1.691242e-04
2   678230                           Abstract Arena  1.227300e-04
3   603230                              The Wendigo  1.160667e-04
4   529900                           Polygon Attack  1.014292e-04
5   340280                                    Cubot  1.014153e-04
6  1799930                                 Redout 2  9.895711e-05
7   535270                       Constricting Cubes  6.740829e-05
8  1546340  Detective Riddles - Sherlock's Heritage  5.137418e-05
9  1181830                    Urtuk: The Desolation  2.590797e-07